/* Resets */
body {
  /* Reset back to WP styles */
  background:transparent;
  font-family: "Open Sans",sans-serif !important;
  line-height: 1.4em !important;
}
/* Customise columns */
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  padding-left: 10px;
  padding-right: 10px;
}
/* Customise tables */
.table tr > td {
  border:none !important;
}

/* Structure */
.wpml-meta-container { }

.wpml-meta-container .wpml-meta-box {
  padding-left:5px;
  padding-right:5px;
  margin-bottom:20px;
}

/* Media Preview */
.wpml-media-area-container { }

.wpml-media-area-container .wpml-media-area  {
  position:relative;
  z-index:1;
}

.wpml-media-area-container .wpml-media-area .wpml-media-area-base {
  width:100%;
  max-width:100%;
  height:auto;
  margin:0;
  padding:0;
}

/* Hot spots */
.wpml-media-area-container .wpml-media-area .wpml-hotspot {
  position:absolute;
  z-index:2;
  width:20px;
  height:20px;
  border-radius:20px;
  background-color:#00a1dc;
  color:#ffffff;
  font-size:10px;
  line-height:20px;
  font-weight:bold;
  text-align:center;
}

.wpml-hotspot-container {

}
#poststuff .wpml-meta-container .wpml-hotspot-container h2 {
  padding-bottom:10px;
  margin-bottom:0;
}
.wpml-hotspot-container .wpml-hotspot {
  margin-bottom:10px;
}
.wpml-hotspot-container .wpml-hotspot .table {
  border:1px solid #dedede;
  margin-bottom:0;
}
.wpml-hotspot-container .wpml-hotspot .table .wpml-hotspot-content {
  min-width:400px;
}
@media(min-width:768px) {
  .wpml-hotspot-container .wpml-hotspot .table .wpml-hotspot-content {
    min-width:50%;
  }
}
.wpml-hotspot-container .wpml-hotspot .table .wpml-hotspot-id {
  background-color: #efefef;
  vertical-align: middle;
  text-align:center;
}
.wpml-hotspot-container .wpml-hotspot .table .wpml-label-cell {
  width:12%;
}
.wpml-hotspot-container .wpml-hotspot .table .wpml-coord-desc {
  padding-top:0;
}
.wpml-hotspot-container .wpml-hotspot .table .text-area {
  margin-bottom:5px;
}
.wpml-hotspot-container .wpml-hotspot .table .wpml-hotspot-remove {
  vertical-align: middle;
  text-align:center;
  background-color: #f2dede;
  color:#a94442;
}
.wpml-hotspot-container .wpml-hotspot .table .wpml-hotspot-remove:hover {
  background-color: #FFAAAA;
  cursor: pointer;
}


/* Elements */
.wpml-meta-box input, .wpml-meta-box textarea {
  width:100%;
  display:block;
  margin:0;
}

.wpml-meta-box label {
  margin-bottom:10px;
  font-weight:bold;
  display:block;
}
.wpml-meta-box .table label {
  margin-bottom:5px;
}

#poststuff .wpml-meta-container h2 {
  margin-bottom:10px;
  margin-top:0;
  padding: 0;
}
#poststuff .wpml-meta-container h4 {
  margin-bottom:3px;
  margin-top:0;
  padding: 0;
}

.wpml-meta-container .description {
  display: block;
  margin-bottom:5px;
}

.wpml-meta-container input.button {
  margin-right:10px;
}

.wpml-meta-container .wpml-alert {
  font-style:italic;
  font-size:0.95em;
}
.wpml-meta-container .wpml-alert-warning {
  color: #a94442;
}
