#wpml_meta{
    overflow: hidden;
    padding-bottom: 1em;
}

#wpml_meta p{
    clear: both;
}

.wpml-row-title{
    display: block;
    float: left;
    width: 200px;
}

.wpml-row-content{
    float: left;
    padding-bottom: 1em;
}

.wpml-row-content label{
    display: block;
    line-height: 1.75em;
}
